In [1]:
import pandas as pd
import csv
from collections import defaultdict
from datetime import datetime
import matplotlib.patches as mpatches
import matplotlib
import time
import math
from operator import itemgetter
from scipy.spatial import distance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [35]:
recipe = pd.read_csv('./data/recipe.csv')
recipe = recipe[['recipe_id', 'recipe_name']]

## start

In [ ]:
ratings = pd.read_csv('./data/ratings.csv')
ratings = ratings[['recipe_id', 'user_id', 'rating']]
ratings = ratings.sort_values(by=['recipe_id'], axis=0)

In [36]:
## new test
ratings = pd.read_csv('./data/new_ratings.csv')
ratings = ratings[['recipe_id', 'user_id', 'rating']]
ratings = ratings.sort_values(by=['recipe_id'], axis=0)

In [37]:
users = pd.read_csv('./data/users.csv')

In [38]:
ratings = pd.merge(ratings, recipe, on=['recipe_id'], how='outer')
ratings = ratings.sort_values(by=['recipe_id'], axis=0)

In [39]:
ratings = pd.merge(ratings, users, on='user_id', how='outer')
ratings = ratings.sort_values(by=['user_id'], axis=0)

In [ ]:
# ratings = ratings.dropna(subset=['recipe_id'])

In [40]:
user_num = ratings.user_id.unique().shape[0]
recipe_num = ratings.recipe_id.unique().shape[0]

print("유저의 수는 {}명 이고, \n레시피의 수는 {}개 입니다.".format(user_num, recipe_num))

유저의 수는 101명 이고,
레시피의 수는 1309개 입니다.

In [41]:
# 사용자 샘플 선출 -> pivot table 생성
UM_matrix_ds = ratings.pivot(index='user_id', columns='recipe_id', values='rating')
UM_matrix_ds.head(5)

recipe_id,NaN,recipe-1,recipe-10,recipe-100,recipe-1000,recipe-1001,recipe-1002,recipe-1003,recipe-1004,recipe-1005,...,recipe-990,recipe-991,recipe-992,recipe-993,recipe-994,recipe-995,recipe-996,recipe-997,recipe-998,recipe-999
user_id,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user-1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,4.0,NaN,4.0,2.0,NaN,0.0,NaN
user-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user-100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user-11,NaN,2.0,1.0,4.0,2.0,0.0,NaN,2.0,NaN,NaN,...,4.0,NaN,0.0,4.0,NaN,4.0,1.0,0.0,1.0,0.0

In [9]:
def distance_cosine(a, b) :
       return 1-distance.cosine(a, b)

In [10]:
def distance_correlation(a, b) :
       return 1-distance.correlation(a, b)

In [11]:
def distance_euclidean(a, b) :
       return 1/(1+distance.euclidean(a, b))

In [12]:
def nearest_neighbor_user(user, topN, simFunc) :
    u1  =  UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = { }
    
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = [ ]
        interSectionU2 = [ ]
        if uid == user: continue
        
        for i in ratedIndex:
            if not math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        if interSectionLen < 3: continue
        sim = simFunc(interSectionU1, interSectionU2)
        
        if not math.isnan(sim):nn[uid] = sim
                                                
    return sorted(nn.items(), key=itemgetter(1))[:-(topN+1):-1]

In [43]:
# for user in range(0, len(UM_matrix_ds)) :
#       print('User {0} neighbors : {1}'.format('user-'+str(user+1), nearest_neighbor_user('user-'+str(user+1), 3, distance_cosine)))

for user in range(0, 20) :
      print('User {0} neighbors : {1}'.format('user-'+str(user+1), nearest_neighbor_user('user-'+str(user+1), 3, distance_cosine)))

User user-1 neighbors : [('user-8', 0.9819805060619657), ('user-5', 0.9729928210195775), ('user-4', 0.9528933774279027)]
User user-2 neighbors : [('user-8', 0.9721855188786469), ('user-13', 0.9437001160274026), ('user-92', 0.9428090415820632)]
User user-3 neighbors : [('user-8', 0.9500587703260617), ('user-87', 0.9344877349289681), ('user-84', 0.9344877349289681)]
User user-4 neighbors : [('user-5', 0.9753568020509494), ('user-8', 0.9716656205775166), ('user-7', 0.95291375803987)]
User user-5 neighbors : [('user-99', 1.0), ('user-8', 0.9916405353625916), ('user-97', 0.9827076298239908)]
User user-6 neighbors : [('user-5', 0.9560240446570316), ('user-8', 0.9438798074485388), ('user-1', 0.9320071091029151)]
User user-7 neighbors : [('user-5', 0.9748960603557335), ('user-4', 0.95291375803987), ('user-1', 0.9496285473385507)]
User user-8 neighbors : [('user-58', 1.0), ('user-9', 0.9917017107805809), ('user-5', 0.9916405353625916)]
User user-9 neighbors : [('user-8', 0.9917017107805809), ('user-5', 0.9703860692734397), ('user-14', 0.934534295661569)]
User user-10 neighbors : [('user-20', 0.9614803401237304), ('user-14', 0.9364787670860496), ('user-40', 0.8331955809010618)]
User user-11 neighbors : [('user-8', 0.9621464159501535), ('user-5', 0.95956734561438), ('user-6', 0.9143026117280488)]
User user-12 neighbors : [('user-8', 0.9494464909394081), ('user-92', 0.9428090415820632), ('user-91', 0.9428090415820632)]
User user-13 neighbors : [('user-90', 1.0), ('user-89', 1.0), ('user-87', 1.0)]
User user-14 neighbors : [('user-5', 0.9712219849630241), ('user-8', 0.9659720419005742), ('user-10', 0.9364787670860496)]
User user-15 neighbors : [('user-8', 0.9461389844312209), ('user-6', 0.9121749748063467), ('user-13', 0.9004915716695419)]
User user-16 neighbors : [('user-74', 1.0), ('user-69', 1.0), ('user-68', 1.0)]
User user-17 neighbors : [('user-8', 0.962882668037072), ('user-13', 0.9566386064382751), ('user-87', 0.9337990556476818)]
User user-18 neighbors : [('user-94', 0.9486832980505138), ('user-74', 0.9428090415820632), ('user-69', 0.9428090415820632)]
User user-19 neighbors : [('user-13', 0.9673866217130372), ('user-17', 0.914768420476998), ('user-7', 0.9032926711156616)]
User user-20 neighbors : [('user-10', 0.9614803401237304), ('user-8', 0.9556577074176558), ('user-16', 0.9300036729782969)]

In [44]:
def predict_rating(userid, nn=20, simFunc=distance_cosine):
    neighbor = nearest_neighbor_user(userid, nn, simFunc)
    neighbor_id = [id for id, sim in neighbor]
    
    neighbor_recipe = UM_matrix_ds.loc[neighbor_id].dropna(1, how='all', thresh=1)
    neighbor_dict = (dict(neighbor))
    ret = []
    
    for recipe_id, row in neighbor_recipe.iteritems():
        jsum, wsum = 0, 0
        for v in row.dropna().iteritems():
            sim = neighbor_dict.get(v[0], 0)
            jsum += sim
            wsum += (v[1]*sim)
        ret.append([recipe_id, wsum/jsum])
        
    return ret

## user - recipe rating 예측 결과

# cosine

In [45]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
    predict = predict_rating(user_id, 20, distance_cosine)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf_cosine = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf_cosine

        user_id    recipe_id    rating
0        user-1     recipe-1  1.521314
1        user-1    recipe-10  0.678471
2        user-1   recipe-100  2.728504
3        user-1  recipe-1000  1.336405
4        user-1  recipe-1001  0.478686
...         ...          ...       ...
92830  user-100   recipe-995  3.234249
92831  user-100   recipe-996  3.596033
92832  user-100   recipe-997  3.540628
92833  user-100   recipe-998  3.461173
92834  user-100   recipe-999  3.655607

[92835 rows x 3 columns]

In [46]:
predict_cosine = pd.merge(left = ratings[['recipe_id','user_id','rating']], right = resultdf_cosine, on=['user_id','recipe_id'])
predict_cosine

        recipe_id  user_id  rating_x  rating_y
0      recipe-592   user-1       1.0  1.548037
1      recipe-593   user-1       4.0  4.000000
2      recipe-590   user-1       4.0  3.392038
3       recipe-59   user-1       4.0  3.569317
4      recipe-589   user-1       4.0  3.732663
...           ...      ...       ...       ...
36272  recipe-602  user-99       4.0  3.532695
36273   recipe-63  user-99       4.0  3.735714
36274  recipe-642  user-99       4.0  3.737718
36275  recipe-511  user-99       4.0  3.591613
36276  recipe-752  user-99       4.0  3.545441

[36277 rows x 4 columns]

In [47]:
sample_all_cosine = pd.merge(left = ratings , right = resultdf_cosine, how = "outer", on = ["user_id", 'recipe_id'])
sample_all_cosine

         recipe_id   user_id  rating_x  recipe_name  rating_y
0       recipe-592    user-1       1.0  속채운대저토마토백김치  1.548037
1       recipe-593    user-1       4.0         둥지튀김  4.000000
2       recipe-590    user-1       4.0          탕평채  3.392038
3        recipe-59    user-1       4.0      된장 두부찌개  3.569317
4       recipe-589    user-1       4.0          귀리죽  3.732663
...            ...       ...       ...          ...       ...
110952  recipe-995  user-100       NaN          NaN  3.234249
110953  recipe-996  user-100       NaN          NaN  3.596033
110954  recipe-997  user-100       NaN          NaN  3.540628
110955  recipe-998  user-100       NaN          NaN  3.461173
110956  recipe-999  user-100       NaN          NaN  3.655607

[110957 rows x 5 columns]

In [48]:
sample_cosine = sample_all_cosine[sample_all_cosine['recipe_id'] == 'recipe-1000']
sample_cosine = sample_cosine.sort_values(by='user_id' ,ascending=True)
sample_cosine.head(60)

          recipe_id   user_id  rating_x recipe_name  rating_y
54401   recipe-1000    user-1       NaN         NaN  1.336405
61288   recipe-1000   user-10       NaN         NaN  2.052639
109745  recipe-1000  user-100       NaN         NaN  3.425578
1028    recipe-1000   user-11       2.0   닭가슴살호두크로켓  1.951670
1781    recipe-1000   user-12       1.0   닭가슴살호두크로켓  1.327489
63189   recipe-1000   user-13       NaN         NaN  2.427152
64257   recipe-1000   user-14       NaN         NaN  1.490263
3581    recipe-1000   user-15       1.0   닭가슴살호두크로켓  1.988191
65040   recipe-1000   user-16       NaN         NaN  0.504693
65708   recipe-1000   user-17       NaN         NaN  3.306486
4993    recipe-1000   user-18       1.0   닭가슴살호두크로켓       NaN
66604   recipe-1000   user-19       NaN         NaN  2.168170
55132   recipe-1000    user-2       NaN         NaN  1.325407
67497   recipe-1000   user-20       NaN         NaN  0.999570
7598    recipe-1000   user-21       2.0   닭가슴살호두크로켓  4.000000
8988    recipe-1000   user-22       3.0   닭가슴살호두크로켓  4.000000
10517   recipe-1000   user-23       3.0   닭가슴살호두크로켓  4.000000
10912   recipe-1000   user-24       3.0   닭가슴살호두크로켓  3.751855
12081   recipe-1000   user-25       2.5   닭가슴살호두크로켓  4.000000
13619   recipe-1000   user-26       2.5   닭가슴살호두크로켓  4.000000
14659   recipe-1000   user-27       3.0   닭가슴살호두크로켓  4.000000
15621   recipe-1000   user-28       3.0   닭가슴살호두크로켓  3.624076
17003   recipe-1000   user-29       2.5   닭가슴살호두크로켓  4.000000
17452   recipe-1000    user-3       0.0   닭가슴살호두크로켓  3.496273
68701   recipe-1000   user-30       NaN         NaN  4.000000
20190   recipe-1000   user-31       3.0   닭가슴살호두크로켓  4.000000
20650   recipe-1000   user-32       2.5   닭가슴살호두크로켓  4.000000
22380   recipe-1000   user-33       2.5   닭가슴살호두크로켓  4.000000
23073   recipe-1000   user-34       3.0   닭가슴살호두크로켓       NaN
24746   recipe-1000   user-35       2.0   닭가슴살호두크로켓       NaN
25125   recipe-1000   user-36       2.0   닭가슴살호두크로켓  3.326782
25965   recipe-1000   user-37       2.0   닭가슴살호두크로켓  3.000000
27483   recipe-1000   user-38       2.0   닭가슴살호두크로켓  3.665922
27946   recipe-1000   user-39       3.0   닭가슴살호두크로켓  4.000000
55836   recipe-1000    user-4       NaN         NaN  1.333038
69997   recipe-1000   user-40       NaN         NaN  3.500059
29913   recipe-1000   user-41       2.0   닭가슴살호두크로켓       NaN
30607   recipe-1000   user-42       3.0   닭가슴살호두크로켓  3.875440
32160   recipe-1000   user-43       2.0   닭가슴살호두크로켓  4.000000
33248   recipe-1000   user-44       4.0   닭가슴살호두크로켓  4.000000
34812   recipe-1000   user-45       4.0   닭가슴살호두크로켓  4.000000
36015   recipe-1000   user-46       4.0   닭가슴살호두크로켓  4.000000
36474   recipe-1000   user-47       4.0   닭가슴살호두크로켓  4.000000
37837   recipe-1000   user-48       2.5   닭가슴살호두크로켓  4.000000
39064   recipe-1000   user-49       3.0   닭가슴살호두크로켓       NaN
56560   recipe-1000    user-5       NaN         NaN  3.262367
40835   recipe-1000   user-50       2.0   닭가슴살호두크로켓       NaN
41971   recipe-1000   user-51       2.0   닭가슴살호두크로켓  3.250131
43106   recipe-1000   user-52       4.0   닭가슴살호두크로켓  3.666437
43552   recipe-1000   user-53       4.0   닭가슴살호두크로켓  3.798505
45015   recipe-1000   user-54       4.0   닭가슴살호두크로켓  4.000000
45854   recipe-1000   user-55       4.0   닭가슴살호두크로켓  4.000000
46768   recipe-1000   user-56       4.0   닭가슴살호두크로켓  4.000000
48571   recipe-1000   user-57       4.0   닭가슴살호두크로켓  4.000000
72156   recipe-1000   user-58       NaN         NaN  4.000000
49133   recipe-1000   user-59       4.0   닭가슴살호두크로켓  4.000000
57571   recipe-1000    user-6       NaN         NaN  2.770551
50473   recipe-1000   user-60       4.0   닭가슴살호두크로켓  4.000000
72647   recipe-1000   user-62       NaN         NaN  4.000000
73841   recipe-1000   user-63       NaN         NaN  3.590909

In [49]:
sample_cosine = sample_cosine.fillna(value=0)
sample_cosine.tail()

          recipe_id  user_id  rating_x recipe_name  rating_y
105951  recipe-1000  user-94       0.0           0  2.885336
107177  recipe-1000  user-95       0.0           0  4.000000
107341  recipe-1000  user-96       0.0           0  4.000000
107428  recipe-1000  user-97       0.0           0  3.501526
108581  recipe-1000  user-99       0.0           0  3.272158

# 오류지표

In [50]:
realdata_rating_cosine = sample_cosine['rating_x'].tolist()
resultdata_rating_cosine = sample_cosine['rating_y'].tolist()

error_rate_absol_cosine = mean_absolute_error(realdata_rating_cosine, resultdata_rating_cosine)
error_rate_squared_cosine = mean_squared_error(realdata_rating_cosine, resultdata_rating_cosine)

### MAE
##### 예측값-결과값 유사 평가 척도
MAE 값 오차의 정도에 관한 값으로 0에 가까울수록 유사도 높음

In [52]:
print("Error Rate(Absolute) : ", error_rate_absol_cosine)  # MAE

Error Rate(Absolute) :  1.8962523036011454

### MSE
##### 예측 정확성
MSE 값 적을수록 원본과 예측값의 차이 적어짐 -> 예측 정확성 높음

In [53]:
print("Error Rate(Squared) : ", error_rate_squared_cosine)  # MSE
# print("RMSE : ", math.sqrt(error_rate_squared))  # RMSE

Error Rate(Squared) :  5.743131558422857

# correlation

In [24]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 20, distance_correlation)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf_correlation = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf_correlation

/opt/anaconda3/lib/python3.7/site-packages/scipy/spatial/distance.py:720: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

       user_id    recipe_id    rating
0       user-1     recipe-1  1.589029
1       user-1    recipe-10  0.709923
2       user-1   recipe-100  2.649836
3       user-1  recipe-1000  1.371898
4       user-1  recipe-1001  0.410971
...        ...          ...       ...
66372  user-54   recipe-995  3.426513
66373  user-54   recipe-996  1.777331
66374  user-54   recipe-997  2.052046
66375  user-54   recipe-998  1.943630
66376  user-54   recipe-999  2.091600

[66377 rows x 3 columns]

In [25]:
sample_all_correlation = pd.merge(left = ratings , right = resultdf_correlation, how = "outer", on = ["user_id", 'recipe_id'])
sample_all_correlation

        recipe_id  user_id  rating_x  recipe_name  rating_y
0      recipe-592   user-1       1.0  속채운대저토마토백김치  1.573499
1      recipe-593   user-1       4.0         둥지튀김  4.000000
2      recipe-590   user-1       4.0          탕평채  3.377701
3       recipe-59   user-1       4.0      된장 두부찌개  3.301616
4      recipe-589   user-1       4.0          귀리죽  3.687275
...           ...      ...       ...          ...       ...
74176  recipe-936  user-54       NaN          NaN  2.036878
74177  recipe-961  user-54       NaN          NaN  2.677473
74178  recipe-967  user-54       NaN          NaN  2.773107
74179  recipe-977  user-54       NaN          NaN  1.000000
74180  recipe-990  user-54       NaN          NaN  3.308090

[74181 rows x 5 columns]

In [26]:
sample_correlation = sample_all_correlation[sample_all_correlation['recipe_id'] == 'recipe-1000']
sample_correlation = sample_correlation.sort_values(by='user_id' ,ascending=True)
sample_correlation.head(60)

         recipe_id  user_id  rating_x recipe_name  rating_y
54401  recipe-1000   user-1       NaN         NaN  1.371898
61453  recipe-1000  user-10       NaN         NaN  2.377814
1028   recipe-1000  user-11       2.0   닭가슴살호두크로켓  0.838647
1781   recipe-1000  user-12       1.0   닭가슴살호두크로켓  1.458501
63389  recipe-1000  user-13       NaN         NaN  1.366918
64472  recipe-1000  user-14       NaN         NaN  1.285268
3581   recipe-1000  user-15       1.0   닭가슴살호두크로켓  1.308922
65353  recipe-1000  user-16       NaN         NaN  1.249508
66063  recipe-1000  user-17       NaN         NaN  1.171603
4993   recipe-1000  user-18       1.0   닭가슴살호두크로켓  1.125458
67177  recipe-1000  user-19       NaN         NaN  1.333939
55133  recipe-1000   user-2       NaN         NaN  1.146784
68085  recipe-1000  user-20       NaN         NaN  1.382088
7598   recipe-1000  user-21       2.0   닭가슴살호두크로켓  2.724686
8988   recipe-1000  user-22       3.0   닭가슴살호두크로켓  2.449961
10517  recipe-1000  user-23       3.0   닭가슴살호두크로켓  2.521277
10912  recipe-1000  user-24       3.0   닭가슴살호두크로켓  2.968036
12081  recipe-1000  user-25       2.5   닭가슴살호두크로켓  2.689068
13619  recipe-1000  user-26       2.5   닭가슴살호두크로켓  2.314462
14659  recipe-1000  user-27       3.0   닭가슴살호두크로켓  2.361868
15621  recipe-1000  user-28       3.0   닭가슴살호두크로켓  2.863290
17003  recipe-1000  user-29       2.5   닭가슴살호두크로켓  1.756187
17452  recipe-1000   user-3       0.0   닭가슴살호두크로켓  1.384292
69747  recipe-1000  user-30       NaN         NaN  2.401583
20190  recipe-1000  user-31       3.0   닭가슴살호두크로켓  2.826306
20650  recipe-1000  user-32       2.5   닭가슴살호두크로켓  2.937710
22380  recipe-1000  user-33       2.5   닭가슴살호두크로켓  2.546196
23073  recipe-1000  user-34       3.0   닭가슴살호두크로켓  2.212072
24746  recipe-1000  user-35       2.0   닭가슴살호두크로켓  2.087987
25125  recipe-1000  user-36       2.0   닭가슴살호두크로켓  2.710214
25965  recipe-1000  user-37       2.0   닭가슴살호두크로켓  3.018511
27483  recipe-1000  user-38       2.0   닭가슴살호두크로켓  2.404539
27946  recipe-1000  user-39       3.0   닭가슴살호두크로켓  2.905875
55941  recipe-1000   user-4       NaN         NaN  1.327211
71737  recipe-1000  user-40       NaN         NaN  2.705793
29913  recipe-1000  user-41       2.0   닭가슴살호두크로켓  3.122902
30607  recipe-1000  user-42       3.0   닭가슴살호두크로켓  2.169246
32160  recipe-1000  user-43       2.0   닭가슴살호두크로켓  3.260979
33248  recipe-1000  user-44       4.0   닭가슴살호두크로켓  3.431042
34812  recipe-1000  user-45       4.0   닭가슴살호두크로켓  3.437240
36015  recipe-1000  user-46       4.0   닭가슴살호두크로켓  3.412073
36474  recipe-1000  user-47       4.0   닭가슴살호두크로켓  3.448233
37837  recipe-1000  user-48       2.5   닭가슴살호두크로켓  3.507939
39064  recipe-1000  user-49       3.0   닭가슴살호두크로켓  2.260061
56688  recipe-1000   user-5       NaN         NaN  1.544306
40835  recipe-1000  user-50       2.0   닭가슴살호두크로켓  2.577070
41971  recipe-1000  user-51       2.0   닭가슴살호두크로켓  3.263502
43106  recipe-1000  user-52       4.0   닭가슴살호두크로켓  2.902055
43552  recipe-1000  user-53       4.0   닭가슴살호두크로켓  2.958682
45015  recipe-1000  user-54       4.0   닭가슴살호두크로켓  2.481014
45854  recipe-1000  user-55       4.0   닭가슴살호두크로켓       NaN
46768  recipe-1000  user-56       4.0   닭가슴살호두크로켓       NaN
48571  recipe-1000  user-57       4.0   닭가슴살호두크로켓       NaN
49133  recipe-1000  user-59       4.0   닭가슴살호두크로켓       NaN
57695  recipe-1000   user-6       NaN         NaN  1.565832
50473  recipe-1000  user-60       4.0   닭가슴살호두크로켓       NaN
52230  recipe-1000   user-7       1.0   닭가슴살호두크로켓  1.396124
59472  recipe-1000   user-8       NaN         NaN  1.727101
52786  recipe-1000  user-81       4.0   닭가슴살호두크로켓       NaN
52817  recipe-1000  user-82       4.0   닭가슴살호두크로켓       NaN

In [27]:
sample_correlation = sample_correlation.fillna(value=0)
sample_correlation.tail()

         recipe_id  user_id  rating_x recipe_name  rating_y
52954  recipe-1000  user-86       4.0   닭가슴살호두크로켓  0.000000
52985  recipe-1000  user-88       4.0   닭가슴살호두크로켓  0.000000
53015  recipe-1000  user-89       4.0   닭가슴살호두크로켓  0.000000
60684  recipe-1000   user-9       0.0           0  1.397523
53514  recipe-1000  user-90       4.0   닭가슴살호두크로켓  0.000000

In [28]:
realdata_rating_correlation = sample_correlation['rating_x'].tolist()
resultdata_rating_correlation = sample_correlation['rating_y'].tolist()

error_rate_absol_correlation = mean_absolute_error(realdata_rating_correlation, resultdata_rating_correlation)
error_rate_squared_correlation = mean_squared_error(realdata_rating_correlation, resultdata_rating_correlation)

print("Error Rate(Absolute) : ", error_rate_absol_correlation)  # MAE
print("Error Rate(Squared) : ", error_rate_squared_correlation)  # MSE

Error Rate(Absolute) :  1.5128677571457616
Error Rate(Squared) :  4.073987090632987

# euclidean

In [30]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 20, distance_euclidean)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf_euclidean = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf_euclidean

        user_id    recipe_id    rating
0        user-1    recipe-10  4.000000
1        user-1  recipe-1000  4.000000
2        user-1  recipe-1010  4.000000
3        user-1  recipe-1023  4.000000
4        user-1  recipe-1044  4.000000
...         ...          ...       ...
53951  user-100   recipe-995  3.788601
53952  user-100   recipe-996  4.000000
53953  user-100   recipe-997  4.000000
53954  user-100   recipe-998  4.000000
53955  user-100   recipe-999  4.000000

[53956 rows x 3 columns]

In [32]:
sample_all_euclidean = pd.merge(left = ratings , right = resultdf_euclidean, how = "outer", on = ["user_id", 'recipe_id'])
sample_euclidean = sample_all_euclidean[sample_all_euclidean['recipe_id'] == 'recipe-1000']
sample_euclidean = sample_euclidean.sort_values(by='user_id' ,ascending=True)
sample_euclidean.head(80)

         recipe_id   user_id  rating_x recipe_name  rating_y
54400  recipe-1000    user-1       NaN         NaN  4.000000
57227  recipe-1000   user-10       NaN         NaN  1.738336
98591  recipe-1000  user-100       NaN         NaN  3.881415
1028   recipe-1000   user-11       2.0   닭가슴살호두크로켓  4.000000
1781   recipe-1000   user-12       1.0   닭가슴살호두크로켓  4.000000
...            ...       ...       ...         ...       ...
83850  recipe-1000   user-84       NaN         NaN  4.000000
52916  recipe-1000   user-85       4.0   닭가슴살호두크로켓  4.000000
52954  recipe-1000   user-86       4.0   닭가슴살호두크로켓  4.000000
87464  recipe-1000   user-87       NaN         NaN  4.000000
52985  recipe-1000   user-88       4.0   닭가슴살호두크로켓  4.000000

[80 rows x 5 columns]

In [33]:
sample_euclidean = sample_euclidean.fillna(value=0)
sample_euclidean.tail()

         recipe_id  user_id  rating_x recipe_name  rating_y
94797  recipe-1000  user-94       0.0           0  3.230620
96023  recipe-1000  user-95       0.0           0  4.000000
96187  recipe-1000  user-96       0.0           0  4.000000
96274  recipe-1000  user-97       0.0           0  3.864300
97427  recipe-1000  user-99       0.0           0  3.617364

In [34]:
realdata_rating_euclidean = sample_euclidean['rating_x'].tolist()
resultdata_rating_euclidean = sample_euclidean['rating_y'].tolist()

error_rate_absol_euclidean = mean_absolute_error(realdata_rating_euclidean, resultdata_rating_euclidean)
error_rate_squared_euclidean = mean_squared_error(realdata_rating_euclidean, resultdata_rating_euclidean)

print("Error Rate(Absolute) : ", error_rate_absol_euclidean)  # MAE
print("Error Rate(Squared) : ", error_rate_squared_euclidean)  # MSE

Error Rate(Absolute) :  2.414632263292692
Error Rate(Squared) :  8.219110134846664