In [1]:
import pandas as pd
import csv
from collections import defaultdict
from datetime import datetime
import matplotlib.patches as mpatches
import matplotlib
import time
import math
from operator import itemgetter
from scipy.spatial import distance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
recipe = pd.read_csv('./data/recipe.csv')

In [3]:
recipe = recipe[['recipe_id', 'recipe_name']]
recipe.tail()

        recipe_id recipe_name
1303  recipe-1304        맥적구이
1304  recipe-1305        채소어묵
1305  recipe-1306      주꾸미보리죽
1306  recipe-1307      오렌지삼겹찜
1307  recipe-1308    소고기볼게살타르

In [5]:
# user_id, rating, recipe_id
ratings = pd.read_csv('./data/ratings.csv')
ratings = ratings[['ratingNo', 'recipe_id', 'user_id', 'rating']]
ratings.tail()

       ratingNo    recipe_id  user_id  rating
39184     39184  recipe-1308  user-88       2
39185     39185  recipe-1308  user-89       2
39186     39186  recipe-1308  user-91       2
39187     39187  recipe-1308  user-94       1
39188     39188  recipe-1308  user-97       3

In [6]:
# user_id
users = pd.read_csv('./data/user.csv')
users = users[['ratingNo','user_id']]
users.tail()

    ratingNo   user_id
95        95   user-96
96        96   user-97
97        97   user-98
98        98   user-99
99        99  user-100

In [7]:
del ratings['ratingNo']
ratings.tail()

         recipe_id  user_id  rating
39184  recipe-1308  user-88       2
39185  recipe-1308  user-89       2
39186  recipe-1308  user-91       2
39187  recipe-1308  user-94       1
39188  recipe-1308  user-97       3

In [8]:
user_num = ratings.user_id.unique().shape[0]
recipe_num = ratings.recipe_id.unique().shape[0]

print("유저의 수는 {}명 이고, \n레시피의 수는 {}개 입니다.".format(user_num, recipe_num))

유저의 수는 100명 이고,
레시피의 수는 1308개 입니다.

In [10]:
# 사용자 샘플 선출 -> pivot table 생성
UM_matrix_ds = ratings.pivot(index='user_id', columns='recipe_id', values='rating')
UM_matrix_ds.head(5)

recipe_id,recipe-1,recipe-10,recipe-100,recipe-1000,recipe-1001,recipe-1002,recipe-1003,recipe-1004,recipe-1005,recipe-1006,...,recipe-990,recipe-991,recipe-992,recipe-993,recipe-994,recipe-995,recipe-996,recipe-997,recipe-998,recipe-999
user_id,,,,,,,,,,,,,,,,,,,,,
user-1,3.0,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,NaN,...,5.0,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
user-10,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,4.0,4.0,NaN,1.0
user-100,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
user-11,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN
user-12,1.0,4.0,NaN,2.0,NaN,NaN,2.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,2.0,NaN,5.0,4.0,2.0,NaN

In [11]:
def distance_cosine(a, b) :
       return 1-distance.cosine(a, b)

In [12]:
def distance_correlation(a, b) :
       return 1-distance.correlation(a, b)

In [13]:
def distance_euclidean(a, b) :
       return 1/(1+distance.euclidean(a, b))

In [31]:
def nearest_neighbor_user(user, topN, simFunc) :
    u1  =  UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = { }
    
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = [ ]
        interSectionU2 = [ ]
        if uid == user: continue
        
        for i in ratedIndex:
            if not math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        if interSectionLen < 3: continue
        sim = simFunc(interSectionU1, interSectionU2)
        
        if not math.isnan(sim):nn[uid] = sim
                                                
    return sorted(nn.items(), key=itemgetter(1))[:-(topN+1):-1]

In [32]:
for user in range(0, len(UM_matrix_ds)) :
      print('User {0} neighbors : {1}'.format('user-'+str(user+1), nearest_neighbor_user('user-'+str(user+1), 3, distance_cosine)))

User user-1 neighbors : [('user-79', 0.8873525883018792), ('user-75', 0.8826151617831657), ('user-65', 0.8637526728156629)]
User user-2 neighbors : [('user-42', 0.879597155335769), ('user-82', 0.8635368667338414), ('user-53', 0.8558833722757675)]
User user-3 neighbors : [('user-16', 0.8849578627702183), ('user-43', 0.8565254968724393), ('user-19', 0.8541606139626727)]
User user-4 neighbors : [('user-93', 0.8804669431007153), ('user-25', 0.8622221277213945), ('user-49', 0.8611766090660558)]
User user-5 neighbors : [('user-9', 0.8729551763737453), ('user-96', 0.8619480438685505), ('user-55', 0.8598252252087156)]
User user-6 neighbors : [('user-42', 0.8616934300748349), ('user-52', 0.8608053305542304), ('user-60', 0.8538180221532102)]
User user-7 neighbors : [('user-25', 0.85888055455711), ('user-76', 0.8568888888888889), ('user-2', 0.8548594734655425)]
User user-8 neighbors : [('user-66', 0.8714667817894), ('user-46', 0.8662915739369857), ('user-1', 0.862390171890171)]
User user-9 neighbors : [('user-5', 0.8729551763737453), ('user-64', 0.8670593188535076), ('user-13', 0.8627224083044198)]
User user-10 neighbors : [('user-59', 0.8596602737500901), ('user-55', 0.8488321944839857), ('user-64', 0.8446497374635119)]
User user-11 neighbors : [('user-83', 0.8690834902496596), ('user-15', 0.8599072605429401), ('user-13', 0.8546075217161523)]
User user-12 neighbors : [('user-32', 0.8644889728966182), ('user-6', 0.8462413510935949), ('user-29', 0.8437770429417748)]
User user-13 neighbors : [('user-9', 0.8627224083044198), ('user-39', 0.8600161730425563), ('user-77', 0.8564712427986619)]
User user-14 neighbors : [('user-44', 0.8509133402730041), ('user-17', 0.8484911128238006), ('user-15', 0.8470799275136794)]
User user-15 neighbors : [('user-93', 0.8693859780156011), ('user-87', 0.8621299566635451), ('user-21', 0.8619743632619936)]
User user-16 neighbors : [('user-3', 0.8849578627702183), ('user-41', 0.8600856430969435), ('user-27', 0.8596739431772285)]
User user-17 neighbors : [('user-89', 0.8643081551325239), ('user-59', 0.8638266005206495), ('user-49', 0.8631741107845609)]
User user-18 neighbors : [('user-39', 0.8640233814076107), ('user-48', 0.8589525695772053), ('user-86', 0.8586867806043732)]
User user-19 neighbors : [('user-28', 0.8605043164755272), ('user-43', 0.854635712467935), ('user-91', 0.8543346286739723)]
User user-20 neighbors : [('user-39', 0.8768430742567014), ('user-55', 0.8667916339182097), ('user-40', 0.8607344169250019)]
User user-21 neighbors : [('user-15', 0.8619743632619936), ('user-73', 0.8594589415600048), ('user-1', 0.8576362108620746)]
User user-22 neighbors : [('user-28', 0.8638157817488601), ('user-57', 0.8521453507741533), ('user-71', 0.8506499611942006)]
User user-23 neighbors : [('user-37', 0.8621657443438512), ('user-52', 0.8588331826639958), ('user-33', 0.8538769253082605)]
User user-24 neighbors : [('user-49', 0.873819421480166), ('user-76', 0.8550898898909525), ('user-57', 0.8531153695596055)]
User user-25 neighbors : [('user-39', 0.8786018883961114), ('user-91', 0.8659989542460129), ('user-71', 0.8625154147178834)]
User user-26 neighbors : [('user-31', 0.860960725854548), ('user-25', 0.8563035155834764), ('user-58', 0.8538324950059358)]
User user-27 neighbors : [('user-81', 0.8607027829867941), ('user-16', 0.8596739431772285), ('user-73', 0.8570783859037397)]
User user-28 neighbors : [('user-22', 0.8638157817488601), ('user-65', 0.8631553595321231), ('user-75', 0.8613840815448728)]
User user-29 neighbors : [('user-35', 0.8613309667315345), ('user-93', 0.8602526065002918), ('user-15', 0.8548297746022776)]
User user-30 neighbors : [('user-56', 0.8587770002953131), ('user-82', 0.8555919516572776), ('user-68', 0.8522481444138136)]
User user-31 neighbors : [('user-26', 0.860960725854548), ('user-66', 0.8597069113952832), ('user-15', 0.8511432259594568)]
User user-32 neighbors : [('user-12', 0.8644889728966182), ('user-81', 0.8539592118754994), ('user-33', 0.8530832015778168)]
User user-33 neighbors : [('user-86', 0.8573313771136479), ('user-23', 0.8538769253082605), ('user-32', 0.8530832015778168)]
User user-34 neighbors : [('user-68', 0.8662524225388307), ('user-66', 0.8614916296401766), ('user-98', 0.8577606948145982)]
User user-35 neighbors : [('user-29', 0.8613309667315345), ('user-25', 0.8570704514972483), ('user-60', 0.8532175713914848)]
User user-36 neighbors : [('user-81', 0.8835046242151795), ('user-85', 0.8668623371864103), ('user-49', 0.8666245679582725)]
User user-37 neighbors : [('user-23', 0.8621657443438512), ('user-46', 0.8459223312557964), ('user-44', 0.8456700009903738)]
User user-38 neighbors : [('user-64', 0.8618611482483118), ('user-68', 0.8502824901427777), ('user-18', 0.8484486551176933)]
User user-39 neighbors : [('user-25', 0.8786018883961114), ('user-20', 0.8768430742567014), ('user-18', 0.8640233814076107)]
User user-40 neighbors : [('user-20', 0.8607344169250019), ('user-89', 0.8584444942729031), ('user-73', 0.8517086517132648)]
User user-41 neighbors : [('user-16', 0.8600856430969435), ('user-79', 0.8584492651767541), ('user-60', 0.8553228888152042)]
User user-42 neighbors : [('user-2', 0.879597155335769), ('user-6', 0.8616934300748349), ('user-91', 0.8564752399270356)]
User user-43 neighbors : [('user-3', 0.8565254968724393), ('user-19', 0.854635712467935), ('user-60', 0.8462259569867193)]
User user-44 neighbors : [('user-91', 0.8607693949003831), ('user-50', 0.8561230090549946), ('user-80', 0.8527774355685372)]
User user-45 neighbors : [('user-88', 0.8686279641726161), ('user-79', 0.8549461590860475), ('user-78', 0.8549242520861162)]
User user-46 neighbors : [('user-8', 0.8662915739369857), ('user-74', 0.8618257940290289), ('user-59', 0.8605856518960142)]
User user-47 neighbors : [('user-16', 0.8578256894993022), ('user-48', 0.853966385375744), ('user-56', 0.8538671487368883)]
User user-48 neighbors : [('user-100', 0.8792259901419053), ('user-18', 0.8589525695772053), ('user-81', 0.8546264611825323)]
User user-49 neighbors : [('user-95', 0.8934327869267854), ('user-24', 0.873819421480166), ('user-36', 0.8666245679582725)]
User user-50 neighbors : [('user-70', 0.8642479194345328), ('user-55', 0.8626114358061253), ('user-83', 0.85969546226318)]
User user-51 neighbors : [('user-56', 0.8717233571293656), ('user-25', 0.8589330355421998), ('user-100', 0.857362077084596)]
User user-52 neighbors : [('user-58', 0.890757268449244), ('user-6', 0.8608053305542304), ('user-23', 0.8588331826639958)]
User user-53 neighbors : [('user-70', 0.8603009936007606), ('user-97', 0.8588501836227044), ('user-2', 0.8558833722757675)]
User user-54 neighbors : [('user-66', 0.8673738224593659), ('user-61', 0.8579425811605166), ('user-94', 0.8514595995813183)]
User user-55 neighbors : [('user-20', 0.8667916339182097), ('user-50', 0.8626114358061253), ('user-79', 0.8610098910828732)]
User user-56 neighbors : [('user-51', 0.8717233571293656), ('user-30', 0.8587770002953131), ('user-69', 0.8583869296201797)]
User user-57 neighbors : [('user-96', 0.8623191271276072), ('user-69', 0.8607597439252483), ('user-49', 0.8590449605738678)]
User user-58 neighbors : [('user-52', 0.890757268449244), ('user-79', 0.8703664409055769), ('user-95', 0.8658840619846689)]
User user-59 neighbors : [('user-17', 0.8638266005206495), ('user-46', 0.8605856518960142), ('user-10', 0.8596602737500901)]
User user-60 neighbors : [('user-28', 0.85877248098107), ('user-41', 0.8553228888152042), ('user-9', 0.8544750692107378)]
User user-61 neighbors : [('user-74', 0.8692822075696746), ('user-73', 0.8649110061097874), ('user-54', 0.8579425811605166)]
User user-62 neighbors : [('user-25', 0.8551097154585667), ('user-72', 0.8510727791728291), ('user-42', 0.8495722472702505)]
User user-63 neighbors : [('user-93', 0.8647322512901244), ('user-65', 0.8582278060424258), ('user-76', 0.8571340502280115)]
User user-64 neighbors : [('user-9', 0.8670593188535076), ('user-78', 0.8643709402985025), ('user-38', 0.8618611482483118)]
User user-65 neighbors : [('user-1', 0.8637526728156629), ('user-28', 0.8631553595321231), ('user-63', 0.8582278060424258)]
User user-66 neighbors : [('user-81', 0.8757205942444966), ('user-8', 0.8714667817894), ('user-54', 0.8673738224593659)]

User user-67 neighbors : [('user-64', 0.8589224129237321), ('user-16', 0.8574532279388077), ('user-57', 0.8475473819321789)]
User user-68 neighbors : [('user-34', 0.8662524225388307), ('user-94', 0.8554535354989778), ('user-81', 0.8543634315367674)]
User user-69 neighbors : [('user-57', 0.8607597439252483), ('user-56', 0.8583869296201797), ('user-1', 0.8519206780307919)]
User user-70 neighbors : [('user-50', 0.8642479194345328), ('user-53', 0.8603009936007606), ('user-76', 0.8553031904486218)]
User user-71 neighbors : [('user-25', 0.8625154147178834), ('user-56', 0.8559314490528386), ('user-82', 0.8511418499493604)]
User user-72 neighbors : [('user-86', 0.859870120093148), ('user-50', 0.8563265178412649), ('user-8', 0.853324932529605)]
User user-73 neighbors : [('user-61', 0.8649110061097874), ('user-21', 0.8594589415600048), ('user-5', 0.859090298663252)]
User user-74 neighbors : [('user-84', 0.8725199116971338), ('user-61', 0.8692822075696746), ('user-46', 0.8618257940290289)]
User user-75 neighbors : [('user-1', 0.8826151617831657), ('user-28', 0.8613840815448728), ('user-93', 0.8526719027788497)]
User user-76 neighbors : [('user-83', 0.861728014772436), ('user-63', 0.8571340502280115), ('user-7', 0.8568888888888889)]
User user-77 neighbors : [('user-84', 0.8673668525015393), ('user-13', 0.8564712427986619), ('user-50', 0.851236389349254)]
User user-78 neighbors : [('user-64', 0.8643709402985025), ('user-91', 0.8588318670754788), ('user-45', 0.8549242520861162)]
User user-79 neighbors : [('user-1', 0.8873525883018792), ('user-58', 0.8703664409055769), ('user-55', 0.8610098910828732)]
User user-80 neighbors : [('user-83', 0.8565918555291672), ('user-44', 0.8527774355685372), ('user-42', 0.8523265430481121)]
User user-81 neighbors : [('user-36', 0.8835046242151795), ('user-66', 0.8757205942444966), ('user-89', 0.8620532064341989)]
User user-82 neighbors : [('user-95', 0.8681794522507877), ('user-2', 0.8635368667338414), ('user-89', 0.8621419585090444)]
User user-83 neighbors : [('user-11', 0.8690834902496596), ('user-76', 0.861728014772436), ('user-50', 0.85969546226318)]
User user-84 neighbors : [('user-74', 0.8725199116971338), ('user-77', 0.8673668525015393), ('user-100', 0.8652275880171483)]
User user-85 neighbors : [('user-90', 0.8713870855001873), ('user-36', 0.8668623371864103), ('user-88', 0.8519966274425909)]
User user-86 neighbors : [('user-72', 0.859870120093148), ('user-18', 0.8586867806043732), ('user-33', 0.8573313771136479)]
User user-87 neighbors : [('user-15', 0.8621299566635451), ('user-28', 0.8502514868196374), ('user-74', 0.8493027003748475)]
User user-88 neighbors : [('user-45', 0.8686279641726161), ('user-8', 0.8611478376800338), ('user-65', 0.8568838037474078)]
User user-89 neighbors : [('user-17', 0.8643081551325239), ('user-82', 0.8621419585090444), ('user-81', 0.8620532064341989)]
User user-90 neighbors : [('user-85', 0.8713870855001873), ('user-83', 0.8482653024901853), ('user-59', 0.8471259226351113)]
User user-91 neighbors : [('user-95', 0.8664643286997327), ('user-25', 0.8659989542460129), ('user-44', 0.8607693949003831)]
User user-92 neighbors : [('user-39', 0.8521124899990224), ('user-79', 0.8515256927746006), ('user-49', 0.8507396246553904)]
User user-93 neighbors : [('user-4', 0.8804669431007153), ('user-15', 0.8693859780156011), ('user-63', 0.8647322512901244)]
User user-94 neighbors : [('user-100', 0.864392314691723), ('user-81', 0.8614902020754238), ('user-68', 0.8554535354989778)]
User user-95 neighbors : [('user-49', 0.8934327869267854), ('user-82', 0.8681794522507877), ('user-91', 0.8664643286997327)]
User user-96 neighbors : [('user-57', 0.8623191271276072), ('user-5', 0.8619480438685505), ('user-9', 0.855568101042181)]
User user-97 neighbors : [('user-49', 0.8634827719452862), ('user-25', 0.8604313162616175), ('user-53', 0.8588501836227044)]
User user-98 neighbors : [('user-34', 0.8577606948145982), ('user-88', 0.8509824272715646), ('user-1', 0.8502175598376231)]
User user-99 neighbors : [('user-52', 0.8476720343528951), ('user-7', 0.8473935983746287), ('user-17', 0.8428590711454607)]
User user-100 neighbors : [('user-48', 0.8792259901419053), ('user-84', 0.8652275880171483), ('user-94', 0.864392314691723)]

In [16]:
def predict_rating(userid, nn=100, simFunc=distance_cosine):
    neighbor = nearest_neighbor_user(userid, nn, simFunc)
    neighbor_id = [id for id, sim in neighbor]
    
    neighbor_recipe = UM_matrix_ds.loc[neighbor_id].dropna(1, how='all', thresh=1)
    neighbor_dict = (dict(neighbor))
    ret = []
    
    for recipe_id, row in neighbor_recipe.iteritems():
        jsum, wsum = 0, 0
        for v in row.dropna().iteritems():
            sim = neighbor_dict.get(v[0], 0)
            jsum += sim
            wsum += (v[1]*sim)
        ret.append([recipe_id, wsum/jsum])
        
    return ret

## user - recipe rating 예측 결과

# cosine

In [49]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 40, distance_cosine)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf

         user_id    recipe_id    rating
0         user-1     recipe-1  3.494289
1         user-1    recipe-10  4.161142
2         user-1   recipe-100  2.496201
3         user-1  recipe-1000  2.893408
4         user-1  recipe-1001  2.716333
...          ...          ...       ...
130795  user-100   recipe-995  2.362635
130796  user-100   recipe-996  3.063611
130797  user-100   recipe-997  3.153118
130798  user-100   recipe-998  3.297056
130799  user-100   recipe-999  2.499391

[130800 rows x 3 columns]

In [72]:
predict = pd.merge(left = ratings[['recipe_id','user_id','rating']], right = resultdf, on=['user_id','recipe_id'])
predict

         recipe_id  user_id  rating_x  rating_y
0         recipe-1   user-1         3  3.494289
1         recipe-1  user-10         4  2.771002
2         recipe-1  user-12         1  2.184828
3         recipe-1  user-15         1  2.879270
4         recipe-1  user-19         4  2.878939
...            ...      ...       ...       ...
39184  recipe-1308  user-88         2  2.264949
39185  recipe-1308  user-89         2  2.172708
39186  recipe-1308  user-91         2  2.351177
39187  recipe-1308  user-94         1  2.635191
39188  recipe-1308  user-97         3  2.296497

[39189 rows x 4 columns]

In [83]:
sample_all = pd.merge(left = ratings , right = resultdf, how = "outer", on = ["user_id", 'recipe_id'])
sample_all

         recipe_id   user_id  rating_x  rating_y
0         recipe-1    user-1       3.0  3.494289
1         recipe-1   user-10       4.0  2.771002
2         recipe-1   user-12       1.0  2.184828
3         recipe-1   user-15       1.0  2.879270
4         recipe-1   user-19       4.0  2.878939
...            ...       ...       ...       ...
130795  recipe-994  user-100       NaN  2.178000
130796  recipe-995  user-100       NaN  2.362635
130797  recipe-997  user-100       NaN  3.153118
130798  recipe-998  user-100       NaN  3.297056
130799  recipe-999  user-100       NaN  2.499391

[130800 rows x 4 columns]

In [109]:
sample = sample_all[sample_all['recipe_id'] == 'recipe-1000']
sample = sample.sort_values(by='user_id' ,ascending=True)
sample.head(60)

          recipe_id   user_id  rating_x  rating_y
39191   recipe-1000    user-1       NaN  2.893408
47631   recipe-1000   user-10       NaN  3.089261
129848  recipe-1000  user-100       NaN  2.914120
29974   recipe-1000   user-11       5.0  3.543405
29975   recipe-1000   user-12       2.0  2.445447
50231   recipe-1000   user-13       NaN  3.011924
51239   recipe-1000   user-14       NaN  2.764756
52116   recipe-1000   user-15       NaN  2.991354
53082   recipe-1000   user-16       NaN  2.843145
54085   recipe-1000   user-17       NaN  2.596277
54974   recipe-1000   user-18       NaN  2.739684
55921   recipe-1000   user-19       NaN  2.662990
40192   recipe-1000    user-2       NaN  2.075247
56736   recipe-1000   user-20       NaN  2.696021
57711   recipe-1000   user-21       NaN  3.148751
29976   recipe-1000   user-22       4.0  2.923724
29977   recipe-1000   user-23       2.0  3.246062
29978   recipe-1000   user-24       4.0  3.465967
61446   recipe-1000   user-25       NaN  2.646959
62395   recipe-1000   user-26       NaN  2.986916
63288   recipe-1000   user-27       NaN  3.337768
29979   recipe-1000   user-28       2.0  2.997024
29980   recipe-1000   user-29       2.0  2.670053
41175   recipe-1000    user-3       NaN  2.625458
29981   recipe-1000   user-30       2.0  3.455789
67192   recipe-1000   user-31       NaN  3.069816
68150   recipe-1000   user-32       NaN  3.349090
29982   recipe-1000   user-33       1.0  2.996734
69939   recipe-1000   user-34       NaN  2.710675
29983   recipe-1000   user-35       4.0  2.743738
71745   recipe-1000   user-36       NaN  3.235379
72730   recipe-1000   user-37       NaN  2.499308
73556   recipe-1000   user-38       NaN  3.005623
29984   recipe-1000   user-39       5.0  3.116319
42109   recipe-1000    user-4       NaN  3.078501
75404   recipe-1000   user-40       NaN  2.928255
29985   recipe-1000   user-41       4.0  3.223577
77107   recipe-1000   user-42       NaN  3.161874
77995   recipe-1000   user-43       NaN  2.725675
78867   recipe-1000   user-44       NaN  2.819546
79793   recipe-1000   user-45       NaN  2.666164
29986   recipe-1000   user-46       1.0  2.915156
81572   recipe-1000   user-47       NaN  2.167094
82477   recipe-1000   user-48       NaN  3.177194
83429   recipe-1000   user-49       NaN  2.852527
29971   recipe-1000    user-5       4.0  2.463425
84435   recipe-1000   user-50       NaN  2.994674
29987   recipe-1000   user-51       4.0  3.004248
86276   recipe-1000   user-52       NaN  2.841014
87091   recipe-1000   user-53       NaN  3.001450
87950   recipe-1000   user-54       NaN  2.866641
88959   recipe-1000   user-55       NaN  3.186239
89965   recipe-1000   user-56       NaN  3.728910
90826   recipe-1000   user-57       NaN  3.382743
91763   recipe-1000   user-58       NaN  3.294105
92767   recipe-1000   user-59       NaN  2.729506
44046   recipe-1000    user-6       NaN  2.912614
93612   recipe-1000   user-60       NaN  2.507037
94456   recipe-1000   user-61       NaN  2.913803
95445   recipe-1000   user-62       NaN  2.723880

In [114]:
sample = sample.fillna(value=0)
sample.tail()

          recipe_id  user_id  rating_x  rating_y
29998   recipe-1000  user-95       2.0  2.298896
29999   recipe-1000  user-96       1.0  2.137488
127080  recipe-1000  user-97       0.0  2.531210
128029  recipe-1000  user-98       0.0  2.454025
128975  recipe-1000  user-99       0.0  2.663696

# 오류지표

In [111]:
realdata_rating = sample['rating_x'].tolist()
resultdata_rating = sample['rating_y'].tolist()

error_rate_absol = mean_absolute_error(realdata_rating, resultdata_rating)
error_rate_squared = mean_squared_error(realdata_rating, resultdata_rating)

### MAE
##### 예측값-결과값 유사 평가 척도
MAE 값 오차의 정도에 관한 값으로 0에 가까울수록 유사도 높음

In [112]:
print("Error Rate(Absolute) : ", error_rate_absol)  # MAE

Error Rate(Absolute) :  2.4094963501249342

### MSE
##### 예측 정확성
MSE 값 적을수록 원본과 예측값의 차이 적어짐 -> 예측 정확성 높음

In [113]:
print("Error Rate(Squared) : ", error_rate_squared)  # MSE
# print("RMSE : ", math.sqrt(error_rate_squared))  # RMSE

Error Rate(Squared) :  6.520571607418482

# correlation

In [115]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 40, distance_correlation)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf

         user_id    recipe_id    rating
0         user-1     recipe-1  2.993219
1         user-1    recipe-10  4.130354
2         user-1   recipe-100  2.797510
3         user-1  recipe-1000  2.718601
4         user-1  recipe-1001  2.451811
...          ...          ...       ...
130795  user-100   recipe-995  2.364926
130796  user-100   recipe-996  3.420192
130797  user-100   recipe-997  2.962826
130798  user-100   recipe-998  2.884244
130799  user-100   recipe-999  2.599285

[130800 rows x 3 columns]

In [116]:
sample_all = pd.merge(left = ratings , right = resultdf, how = "outer", on = ["user_id", 'recipe_id'])
sample_all

         recipe_id   user_id  rating_x  rating_y
0         recipe-1    user-1       3.0  2.993219
1         recipe-1   user-10       4.0  2.450573
2         recipe-1   user-12       1.0  2.018741
3         recipe-1   user-15       1.0  2.837311
4         recipe-1   user-19       4.0  2.981713
...            ...       ...       ...       ...
130795  recipe-994  user-100       NaN  2.888611
130796  recipe-995  user-100       NaN  2.364926
130797  recipe-997  user-100       NaN  2.962826
130798  recipe-998  user-100       NaN  2.884244
130799  recipe-999  user-100       NaN  2.599285

[130800 rows x 4 columns]

In [124]:
sample = sample_all[sample_all['recipe_id'] == 'recipe-1000']
sample = sample.sort_values(by='user_id' ,ascending=True)
sample.head(60)

          recipe_id   user_id  rating_x  rating_y
39191   recipe-1000    user-1       NaN  2.718601
47631   recipe-1000   user-10       NaN  3.042101
129848  recipe-1000  user-100       NaN  3.161475
29974   recipe-1000   user-11       5.0  4.077755
29975   recipe-1000   user-12       2.0  2.423670
50231   recipe-1000   user-13       NaN  3.508486
51239   recipe-1000   user-14       NaN  2.987460
52116   recipe-1000   user-15       NaN  2.390444
53082   recipe-1000   user-16       NaN  2.963790
54085   recipe-1000   user-17       NaN  1.875329
54974   recipe-1000   user-18       NaN  3.342696
55921   recipe-1000   user-19       NaN  2.530338
40192   recipe-1000    user-2       NaN  2.924043
56736   recipe-1000   user-20       NaN  3.166948
57711   recipe-1000   user-21       NaN  3.830084
29976   recipe-1000   user-22       4.0  2.853348
29977   recipe-1000   user-23       2.0  3.165064
29978   recipe-1000   user-24       4.0  3.008712
61446   recipe-1000   user-25       NaN  2.835867
62395   recipe-1000   user-26       NaN  2.569754
63288   recipe-1000   user-27       NaN  3.325267
29979   recipe-1000   user-28       2.0  2.676710
29980   recipe-1000   user-29       2.0  3.033684
41175   recipe-1000    user-3       NaN  2.655881
29981   recipe-1000   user-30       2.0  3.480220
67192   recipe-1000   user-31       NaN  3.239566
68150   recipe-1000   user-32       NaN  3.371519
29982   recipe-1000   user-33       1.0  3.073967
69939   recipe-1000   user-34       NaN  2.541281
29983   recipe-1000   user-35       4.0  2.555636
71745   recipe-1000   user-36       NaN  3.326100
72730   recipe-1000   user-37       NaN  2.958573
73556   recipe-1000   user-38       NaN  3.188940
29984   recipe-1000   user-39       5.0  3.057393
42109   recipe-1000    user-4       NaN  2.447581
75404   recipe-1000   user-40       NaN  2.881511
29985   recipe-1000   user-41       4.0  3.359006
77107   recipe-1000   user-42       NaN  2.953330
77995   recipe-1000   user-43       NaN  3.112123
78867   recipe-1000   user-44       NaN  3.170404
79793   recipe-1000   user-45       NaN  2.908480
29986   recipe-1000   user-46       1.0  2.869368
81572   recipe-1000   user-47       NaN  2.196316
82477   recipe-1000   user-48       NaN  3.396631
83429   recipe-1000   user-49       NaN  3.014880
29971   recipe-1000    user-5       4.0  2.334304
84435   recipe-1000   user-50       NaN  2.119526
29987   recipe-1000   user-51       4.0  2.970838
86276   recipe-1000   user-52       NaN  2.716562
87091   recipe-1000   user-53       NaN  2.687543
87950   recipe-1000   user-54       NaN  3.255625
88959   recipe-1000   user-55       NaN  3.342538
89965   recipe-1000   user-56       NaN  3.687737
90826   recipe-1000   user-57       NaN  3.840280
91763   recipe-1000   user-58       NaN  3.134043
92767   recipe-1000   user-59       NaN  2.434397
44046   recipe-1000    user-6       NaN  3.501099
93612   recipe-1000   user-60       NaN  2.737704
94456   recipe-1000   user-61       NaN  3.046160
95445   recipe-1000   user-62       NaN  3.082370

In [123]:
sample = sample.fillna(value=0)
sample.tail()

          recipe_id  user_id  rating_x  rating_y
29998   recipe-1000  user-95       2.0  2.736539
29999   recipe-1000  user-96       1.0  2.794618
127080  recipe-1000  user-97       0.0  2.544366
128029  recipe-1000  user-98       0.0  2.509748
128975  recipe-1000  user-99       0.0  2.592496

In [130]:
realdata_rating = sample['rating_x'].tolist()
resultdata_rating = sample['rating_y'].tolist()

error_rate_absol = mean_absolute_error(realdata_rating, resultdata_rating)
error_rate_squared = mean_squared_error(realdata_rating, resultdata_rating)

print("Error Rate(Absolute) : ", error_rate_absol)  # MAE
print("Error Rate(Squared) : ", error_rate_squared)  # MSE

Error Rate(Absolute) :  2.3942315148147273
Error Rate(Squared) :  6.321639812186117

# euclidean

In [125]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 40, distance_euclidean)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf

         user_id    recipe_id    rating
0         user-1     recipe-1  2.701995
1         user-1    recipe-10  3.586300
2         user-1   recipe-100  2.791312
3         user-1  recipe-1000  2.017556
4         user-1  recipe-1001  2.769953
...          ...          ...       ...
130795  user-100   recipe-995  2.277838
130796  user-100   recipe-996  3.150015
130797  user-100   recipe-997  2.932826
130798  user-100   recipe-998  2.193643
130799  user-100   recipe-999  2.019578

[130800 rows x 3 columns]

In [127]:
sample_all = pd.merge(left = ratings , right = resultdf, how = "outer", on = ["user_id", 'recipe_id'])
sample = sample_all[sample_all['recipe_id'] == 'recipe-1000']
sample = sample.sort_values(by='user_id' ,ascending=True)
sample.head(60)

          recipe_id   user_id  rating_x  rating_y
39191   recipe-1000    user-1       NaN  2.017556
47631   recipe-1000   user-10       NaN  2.713845
129848  recipe-1000  user-100       NaN  3.000673
29974   recipe-1000   user-11       5.0  2.886112
29975   recipe-1000   user-12       2.0  2.753896
50231   recipe-1000   user-13       NaN  2.951565
51239   recipe-1000   user-14       NaN  2.705317
52116   recipe-1000   user-15       NaN  2.688303
53082   recipe-1000   user-16       NaN  2.789570
54085   recipe-1000   user-17       NaN  2.999183
54974   recipe-1000   user-18       NaN  2.873132
55921   recipe-1000   user-19       NaN  2.625967
40192   recipe-1000    user-2       NaN  2.020888
56736   recipe-1000   user-20       NaN  2.802712
57711   recipe-1000   user-21       NaN  2.856959
29976   recipe-1000   user-22       4.0  2.888218
29977   recipe-1000   user-23       2.0  2.666278
29978   recipe-1000   user-24       4.0  2.633711
61446   recipe-1000   user-25       NaN  2.824316
62395   recipe-1000   user-26       NaN  2.392579
63288   recipe-1000   user-27       NaN  3.087473
29979   recipe-1000   user-28       2.0  2.428004
29980   recipe-1000   user-29       2.0  2.605815
41175   recipe-1000    user-3       NaN  2.794240
29981   recipe-1000   user-30       2.0  3.261172
67192   recipe-1000   user-31       NaN  2.790683
68150   recipe-1000   user-32       NaN  2.682110
29982   recipe-1000   user-33       1.0  2.980558
69939   recipe-1000   user-34       NaN  2.774088
29983   recipe-1000   user-35       4.0  2.685010
71745   recipe-1000   user-36       NaN  3.102444
72730   recipe-1000   user-37       NaN  2.812713
73556   recipe-1000   user-38       NaN  3.094789
29984   recipe-1000   user-39       5.0  2.495320
42109   recipe-1000    user-4       NaN  2.972771
75404   recipe-1000   user-40       NaN  2.792611
29985   recipe-1000   user-41       4.0  2.796910
77107   recipe-1000   user-42       NaN  2.892695
77995   recipe-1000   user-43       NaN  2.533936
78867   recipe-1000   user-44       NaN  2.888225
79793   recipe-1000   user-45       NaN  2.565986
29986   recipe-1000   user-46       1.0  3.088772
81572   recipe-1000   user-47       NaN  2.348130
82477   recipe-1000   user-48       NaN  3.158605
83429   recipe-1000   user-49       NaN  2.997307
29971   recipe-1000    user-5       4.0  2.619034
84435   recipe-1000   user-50       NaN  2.745312
29987   recipe-1000   user-51       4.0  3.100055
86276   recipe-1000   user-52       NaN  2.900227
87091   recipe-1000   user-53       NaN  3.246048
87950   recipe-1000   user-54       NaN  3.329265
88959   recipe-1000   user-55       NaN  3.236082
89965   recipe-1000   user-56       NaN  3.287958
90826   recipe-1000   user-57       NaN  2.998469
91763   recipe-1000   user-58       NaN  2.477456
92767   recipe-1000   user-59       NaN  2.691101
44046   recipe-1000    user-6       NaN  2.864834
93612   recipe-1000   user-60       NaN  2.649735
94456   recipe-1000   user-61       NaN  2.911402
95445   recipe-1000   user-62       NaN  3.103982

In [128]:
sample = sample.fillna(value=0)
sample.tail()

          recipe_id  user_id  rating_x  rating_y
29998   recipe-1000  user-95       2.0  2.599913
29999   recipe-1000  user-96       1.0  3.374224
127080  recipe-1000  user-97       0.0  2.698365
128029  recipe-1000  user-98       0.0  2.619498
128975  recipe-1000  user-99       0.0  2.500201

In [129]:
realdata_rating = sample['rating_x'].tolist()
resultdata_rating = sample['rating_y'].tolist()

error_rate_absol = mean_absolute_error(realdata_rating, resultdata_rating)
error_rate_squared = mean_squared_error(realdata_rating, resultdata_rating)

print("Error Rate(Absolute) : ", error_rate_absol)  # MAE
print("Error Rate(Squared) : ", error_rate_squared)  # MSE

Error Rate(Absolute) :  2.3942315148147273
Error Rate(Squared) :  6.321639812186117