In [301]:
import pandas as pd
import csv
from collections import defaultdict
from datetime import datetime
import matplotlib.patches as mpatches
import matplotlib
import time
import math
from operator import itemgetter
from scipy.spatial import distance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import random

## read CSV

In [310]:
def readFoodIngredientsCSV() :
    foodcategory = pd.read_csv('./data/foodcategory.csv')
    foodingredients = pd.read_csv('./data/foodingredient.csv')
    foodingredients = foodingredients[['foodingredient_id', 'foodIngredient_foodCategoryId', 'foodingredient_name']]
    
    return foodingredients

In [316]:
def readRecipeCSV() :
    recipe = pd.read_csv('./data/recipe.csv')
    recipe = recipe[['recipe_id', 'recipe_name', 'recipe_ingredient']]
    return recipe

## users Dataframe

In [305]:
def makeUsers() :
    users = pd.DataFrame(columns=['user_id'])
    
    for i in range(1, 101):
        users = users.append({'user_id' : 'user-' + str(i)}, ignore_index=True)
    
    return users

## preferIngredients Dataframe

##### random function

In [307]:
def rand(size, random_size):
    list = []
    rand_num = random.randint(1, size)
    
    for i in range(random_size):
        while rand_num in list:
            rand_num = random.randint(1, size)
        list.append(rand_num)
    
    list.sort()
    return list

In [329]:
def makePreferenceIngredients() :
    foodingredients_size = foodingredients.groupby(['foodIngredient_foodCategoryId']).size().reset_index(name='size')
    foodingredients_size
    
    preferIngredients = pd.DataFrame(columns=['user_id', 'foodingredient_id', 'foodingredient_name'])
    
    for i in range(1, 101):
        if (i >= 1 and i <= 20): # 육류 foodcategory-1
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-1']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-1'].reset_index(drop=True)
        elif (i > 20 and i <= 60): # 채소류 foodcategory-2
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-2']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-2'].reset_index(drop=True)
        elif (i > 60 and i <= 80): # 수산물류 foodcategory-8
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-8']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-8'].reset_index(drop=True)
        elif (i > 80 and i <= 90): # 난류 foodcategory-5
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-5']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-5'].reset_index(drop=True)
        elif (i > 90 and i <= 100): # 구황작물류 foodcategory-6
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-6']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-6'].reset_index(drop=True)

        random_rows = rand(size, random_size)

        for j in range(0, random_size) :
            foodingredient_id = sample_date.iloc[random_rows[j] - 1]['foodingredient_id']
            foodingredient_name = sample_date.iloc[random_rows[j] - 1]['foodingredient_name']
            preferIngredients = preferIngredients.append({'user_id' : 'user-' + str(i), 'foodingredient_id' : foodingredient_id, 'foodingredient_name' : foodingredient_name}, ignore_index=True)

    return preferIngredients

In [401]:
# 이거 No임
def makeNoPreferenceIngredients() :
    foodingredients_size = foodingredients.groupby(['foodIngredient_foodCategoryId']).size().reset_index(name='size')
    foodingredients_size
    
    preferIngredients = pd.DataFrame(columns=['user_id', 'foodingredient_id', 'foodingredient_name'])
    
    for i in range(1, 101):
#         if (i >= 1 and i <= 20): # 육류 foodcategory-1
        if (i > 20 and i <= 60): # 채소류 foodcategory-2 
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-1']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-1'].reset_index(drop=True)
        elif (i >= 1 and i <= 20): # 채소류 foodcategory-2
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-2']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-2'].reset_index(drop=True)
        elif (i > 90 and i <= 100): # 수산물류 foodcategory-8
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-8']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-8'].reset_index(drop=True)
        elif (i > 60 and i <= 80): # 난류 foodcategory-5
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-5']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-5'].reset_index(drop=True)
        elif (i > 80 and i <= 90): # 구황작물류 foodcategory-6
            size_data = foodingredients_size[foodingredients_size['foodIngredient_foodCategoryId'] == 'foodcategory-6']
            size = size_data.iloc[0]['size'] # 카테고리의 재료 수
            random_size = random.randint(1, size) # 카테고리의 재료 수 범위 안에서 랜덤 값
            sample_date = foodingredients[foodingredients['foodIngredient_foodCategoryId'] == 'foodcategory-6'].reset_index(drop=True)

        random_rows = rand(size, random_size)

        for j in range(0, random_size) :
            foodingredient_id = sample_date.iloc[random_rows[j] - 1]['foodingredient_id']
            foodingredient_name = sample_date.iloc[random_rows[j] - 1]['foodingredient_name']
            preferIngredients = preferIngredients.append({'user_id' : 'user-' + str(i), 'foodingredient_id' : foodingredient_id, 'foodingredient_name' : foodingredient_name}, ignore_index=True)

    return preferIngredients

In [402]:
noPrefer = makeNoPreferenceIngredients()

In [403]:
noPrefer

      user_id  foodingredient_id foodingredient_name
0      user-1  foodingredient-10               방울토마토
1      user-1  foodingredient-12                  비트
2      user-1  foodingredient-20                 토마토
3      user-1  foodingredient-24                숙주나물
4      user-1  foodingredient-36                   쑥
..        ...                ...                 ...
755  user-100  foodingredient-84                  조기
756  user-100  foodingredient-85                 코다리
757  user-100  foodingredient-86                  연어
758  user-100  foodingredient-87                  광어
759  user-100  foodingredient-88                  우럭

[760 rows x 3 columns]

## Ratings Dataframe

In [404]:
def makeRatings() :
    ratings = pd.DataFrame(columns=['recipe_id', 'recipe_name', 'user_id', 'rating'])
    
    for i in range(0, len(preferIngredients)):
        ingredient_name = preferIngredients.iloc[i]['foodingredient_name']
        prefer_sample = recipe[recipe['recipe_ingredient'].str.contains(ingredient_name, na=False)]

        for j in range(0, len(prefer_sample)):
            prefer_recipeId = prefer_sample.iloc[j]['recipe_id']
            prefer_recipeName = prefer_sample.iloc[j]['recipe_name']
            prefer_userId = preferIngredients.iloc[i]['user_id']
            prefer_rating = 4 

            check = ratings.loc[(ratings['user_id'] == prefer_userId) & (ratings['recipe_id'] == prefer_recipeId)]
            if len(check) < 1 :
                ratings = ratings.append({'recipe_id' : prefer_recipeId, 'recipe_name' : prefer_recipeName, 'user_id' : prefer_userId, 'rating' : prefer_rating}, ignore_index=True)

    return ratings

In [405]:
def makeNoRatings() :
    ratings = pd.DataFrame(columns=['recipe_id', 'recipe_name', 'user_id', 'rating'])
    
    for i in range(0, len(noPrefer)):
        ingredient_name = noPrefer.iloc[i]['foodingredient_name']
        prefer_sample = recipe[recipe['recipe_ingredient'].str.contains(ingredient_name, na=False)]

        for j in range(0, len(prefer_sample)):
            prefer_recipeId = prefer_sample.iloc[j]['recipe_id']
            prefer_recipeName = prefer_sample.iloc[j]['recipe_name']
            prefer_userId = preferIngredients.iloc[i]['user_id']
            prefer_rating = random.randint(0, 2)

            check = ratings.loc[(ratings['user_id'] == prefer_userId) & (ratings['recipe_id'] == prefer_recipeId)]
            if len(check) < 1 :
                ratings = ratings.append({'recipe_id' : prefer_recipeId, 'recipe_name' : prefer_recipeName, 'user_id' : prefer_userId, 'rating' : prefer_rating}, ignore_index=True)

    return ratings

In [406]:
noRating = makeNoRatings()

In [453]:
noRating

         recipe_id             recipe_name  user_id rating
0        recipe-13               방울토마토 소박이   user-1      1
1        recipe-26         모과 소스를 곁들인 채소두부   user-1      1
2        recipe-28  새우살 두부완자 샐러드와 매실 생강 소스   user-1      2
3        recipe-37             청국장 실곤약 파스타   user-1      1
4        recipe-38           고소하고 담백한 너트국수   user-1      0
...            ...                     ...      ...    ...
32291   recipe-158         야채찜을 곁들인 광어스테이크  user-54      0
32292   recipe-162          컬리플라워소스 광어스테이크  user-54      2
32293  recipe-1143                  광어스테이크  user-54      1
32294  recipe-1158         야채찜을 곁들인 광어스테이크  user-54      1
32295  recipe-1162          컬리플라워소스 광어스테이크  user-54      0

[32296 rows x 4 columns]

In [454]:
ratings

         recipe_id  recipe_name   user_id rating
0        recipe-59      된장 두부찌개    user-1      4
1        recipe-65  제육볶음 또띠아 피자    user-1      4
2        recipe-68      오색 완자탕수    user-1      4
3        recipe-70       양배추감자전    user-1      4
4       recipe-104   우렁된장소스 배추롤    user-1      4
...            ...          ...       ...    ...
43841   recipe-990        모듬옥수수  user-100      4
43842  recipe-1044       채소 자장면  user-100      4
43843  recipe-1132       오징어콩순대  user-100      4
43844  recipe-1215          옥음밥  user-100      4
43845  recipe-1305         채소어묵  user-100      4

[43846 rows x 4 columns]

In [455]:
df = pd.concat([noRating, ratings])
df

         recipe_id             recipe_name   user_id rating
0        recipe-13               방울토마토 소박이    user-1      1
1        recipe-26         모과 소스를 곁들인 채소두부    user-1      1
2        recipe-28  새우살 두부완자 샐러드와 매실 생강 소스    user-1      2
3        recipe-37             청국장 실곤약 파스타    user-1      1
4        recipe-38           고소하고 담백한 너트국수    user-1      0
...            ...                     ...       ...    ...
43841   recipe-990                   모듬옥수수  user-100      4
43842  recipe-1044                  채소 자장면  user-100      4
43843  recipe-1132                  오징어콩순대  user-100      4
43844  recipe-1215                     옥음밥  user-100      4
43845  recipe-1305                    채소어묵  user-100      4

[76142 rows x 4 columns]

In [456]:
df['rating'] = pd.to_numeric(df['rating'])
df.dtypes

recipe_id      object
recipe_name    object
user_id        object
rating          int64
dtype: object

In [457]:
# pd.DataFrame(df, columns=['recipe_id','recipe_name'])

# df.duplicated(['recipe_id'])

new_df = df.groupby(by=['recipe_id', 'user_id'])['rating'].mean()
# size.head(50)



# new_df.head(50)

In [458]:
dfdf = new_df.to_frame()
dfdf

                    rating
recipe_id  user_id
recipe-1   user-11     2.0
           user-15     1.0
           user-21     4.0
           user-23     4.0
           user-24     2.0
...                    ...
recipe-999 user-55     4.0
           user-56     4.0
           user-57     4.0
           user-59     4.0
           user-60     4.0

[54322 rows x 1 columns]

In [459]:
new_dfdf = dfdf.reset_index()
new_dfdf

        recipe_id  user_id  rating
0        recipe-1  user-11     2.0
1        recipe-1  user-15     1.0
2        recipe-1  user-21     4.0
3        recipe-1  user-23     4.0
4        recipe-1  user-24     2.0
...           ...      ...     ...
54317  recipe-999  user-55     4.0
54318  recipe-999  user-56     4.0
54319  recipe-999  user-57     4.0
54320  recipe-999  user-59     4.0
54321  recipe-999  user-60     4.0

[54322 rows x 3 columns]

In [460]:
new_dfdf.to_csv("./data/new_ratings.csv", index=None)
new_dfdf.to_csv("./data/no_ratings.csv", index=None)

### init
##### foodingredients
##### recipe
##### users
##### preferIngredients
##### ratings

In [333]:
foodingredients = readFoodIngredientsCSV()
recipe = readRecipeCSV()
users = makeUsers() # to csv
preferIngredients = makePreferenceIngredients() # to csv
ratings = makeRatings() # to csv

In [399]:
foodingredients

    foodingredient_id foodIngredient_foodCategoryId foodingredient_name
0    foodingredient-1                foodcategory-1                돼지고기
1    foodingredient-2                foodcategory-1                 닭고기
2    foodingredient-3                foodcategory-1                 소고기
3    foodingredient-4                foodcategory-1                오리고기
4    foodingredient-5                foodcategory-1                 양고기
..                ...                           ...                 ...
87  foodingredient-88                foodcategory-8                  우럭
88  foodingredient-89                foodcategory-9                  우유
89  foodingredient-90                foodcategory-9                  두유
90  foodingredient-91                foodcategory-9                  치즈
91  foodingredient-92               foodcategory-10                 분모자

[92 rows x 3 columns]

In [369]:
recipe.head(2)

  recipe_id recipe_name                                  recipe_ingredient
0  recipe-1  칼륨 듬뿍 고구마죽  고구마죽\n고구마 100g(2/3개), 설탕 2g(1/3작은술), 찹쌀가루 3g(2...
1  recipe-2  누룽지 두부 계란죽  채소준비\n애호박 30g(1/6개), 표고버섯 20g(2개), 당근 5g(3×2×1...

In [370]:
users.head(2)

  user_id
0  user-1
1  user-2

In [396]:
preferIngredients.tail(20)

       user_id  foodingredient_id foodingredient_name
1028   user-93  foodingredient-65                  감자
1029   user-93  foodingredient-66                 고구마
1030   user-93  foodingredient-68                  토란
1031   user-93  foodingredient-69                   칡
1032   user-94  foodingredient-68                  토란
1033   user-94  foodingredient-69                   칡
1034   user-95  foodingredient-65                  감자
1035   user-95  foodingredient-69                   칡
1036   user-96  foodingredient-65                  감자
1037   user-96  foodingredient-66                 고구마
1038   user-96  foodingredient-67                 옥수수
1039   user-96  foodingredient-68                  토란
1040   user-96  foodingredient-69                   칡
1041   user-97  foodingredient-66                 고구마
1042   user-97  foodingredient-67                 옥수수
1043   user-97  foodingredient-69                   칡
1044   user-98  foodingredient-69                   칡
1045   user-99  foodingredient-66                 고구마
1046   user-99  foodingredient-68                  토란
1047  user-100  foodingredient-67                 옥수수

In [398]:
ratings.tail(50)

         recipe_id              recipe_name   user_id rating
43796   recipe-771                  콩가루 소보로   user-99      4
43797   recipe-777             자색고구마 버터크림 빵   user-99      4
43798   recipe-803                 치즈 두부 튀김   user-99      4
43799   recipe-881                  김치 고구마밥   user-99      4
43800   recipe-894         바질 고구마 옥수수빵(플렌타)   user-99      4
43801   recipe-905                   고구마 김치   user-99      4
43802   recipe-917                   단호박 스프   user-99      4
43803   recipe-920             생강향의 고구마 크로켓   user-99      4
43804   recipe-922                야채 과일 돌구이   user-99      4
43805   recipe-936                   고구마 경단   user-99      4
43806   recipe-980       바질향이 향긋한 고구마 찰 바케트   user-99      4
43807   recipe-996  발사믹과 로즈마리로 향을 낸 오븐구이 야채   user-99      4
43808  recipe-1001               칼륨 듬뿍 고구마죽   user-99      4
43809  recipe-1039                 메밀꽃 필 국수   user-99      4
43810  recipe-1055      하수오 구기자 밥 & 참나물 양념장   user-99      4
43811  recipe-1063          고구마 무스와 칠리야채 말이   user-99      4
43812  recipe-1078      라따뚜이 고구마 스틱과 수란의 만남   user-99      4
43813  recipe-1092                 파프리카 물김치   user-99      4
43814  recipe-1097              단호박 닭고기 들깨탕   user-99      4
43815  recipe-1117                  오징어김치찌개   user-99      4
43816  recipe-1202                고구마바나나샐러드   user-99      4
43817  recipe-1232                   청국장볶음밥   user-99      4
43818  recipe-1245                     족발수육   user-99      4
43819  recipe-1264                       꽃밥   user-99      4
43820  recipe-1307                   오렌지삼겹찜   user-99      4
43821  recipe-1308                 소고기볼게살타르   user-99      4
43822     recipe-5       저염 간장을 이용한 닭개장 비빔밥   user-99      4
43823   recipe-126                  토란순두부찌개   user-99      4
43824   recipe-710                    배추토란국   user-99      4
43825   recipe-884              소고기 들깨 알토란탕   user-99      4
43826  recipe-1005       저염 간장을 이용한 닭개장 비빔밥   user-99      4
43827  recipe-1126                  토란순두부찌개   user-99      4
43828    recipe-44                   채소 자장면  user-100      4
43829   recipe-132                   오징어콩순대  user-100      4
43830   recipe-215                      옥음밥  user-100      4
43831   recipe-305                     채소어묵  user-100      4
43832   recipe-382              고구마와 단호박 맛탕  user-100      4
43833   recipe-394            햄과 참치를 이용한 전류  user-100      4
43834   recipe-554                 옥수수감자샐러드  user-100      4
43835   recipe-749                      유린기  user-100      4
43836   recipe-894         바질 고구마 옥수수빵(플렌타)  user-100      4
43837   recipe-912             해산물 옥수수 오븐구이  user-100      4
43838   recipe-924                      야채빵  user-100      4
43839   recipe-946                   누룽지 피자  user-100      4
43840   recipe-977                 두부튀김&무소스  user-100      4
43841   recipe-990                    모듬옥수수  user-100      4
43842  recipe-1044                   채소 자장면  user-100      4
43843  recipe-1132                   오징어콩순대  user-100      4
43844  recipe-1215                      옥음밥  user-100      4
43845  recipe-1305                     채소어묵  user-100      4

In [389]:
ratings = makeRatings()

In [390]:
ratings

         recipe_id  recipe_name   user_id rating
0        recipe-59      된장 두부찌개    user-1      4
1        recipe-65  제육볶음 또띠아 피자    user-1      4
2        recipe-68      오색 완자탕수    user-1      4
3        recipe-70       양배추감자전    user-1      4
4       recipe-104   우렁된장소스 배추롤    user-1      4
...            ...          ...       ...    ...
43841   recipe-990        모듬옥수수  user-100      4
43842  recipe-1044       채소 자장면  user-100      4
43843  recipe-1132       오징어콩순대  user-100      4
43844  recipe-1215          옥음밥  user-100      4
43845  recipe-1305         채소어묵  user-100      4

[43846 rows x 4 columns]

## insert to csv

In [433]:
noRating.to_csv("./data/no_ratings.csv", index=None)

In [393]:
users.to_csv("./data/users.csv", index=None)
preferIngredients.to_csv("./data/preferIngredients.csv", index=None)
ratings.to_csv("./data/ratings.csv", index=None)

In [394]:
test = pd.read_csv('./data/ratings.csv')
test

         recipe_id  recipe_name   user_id  rating
0        recipe-59      된장 두부찌개    user-1       4
1        recipe-65  제육볶음 또띠아 피자    user-1       4
2        recipe-68      오색 완자탕수    user-1       4
3        recipe-70       양배추감자전    user-1       4
4       recipe-104   우렁된장소스 배추롤    user-1       4
...            ...          ...       ...     ...
43841   recipe-990        모듬옥수수  user-100       4
43842  recipe-1044       채소 자장면  user-100       4
43843  recipe-1132       오징어콩순대  user-100       4
43844  recipe-1215          옥음밥  user-100       4
43845  recipe-1305         채소어묵  user-100       4

[43846 rows x 4 columns]